
<!-- 

      'id', 'title', 'comments', 'mainPhoto', 'address', 'city', 'state', 'zip_code',
      'price', 'phone_number', 'locale_code', 'property_type', 'amenities'

 -->
 
 <form action="/add" method="get">
 
address <input type="text" name="address"></input><br>
baths <input type="text" name="baths"></input><br>
beds <input type="text" name="beds"></input><br>
price <input type="text" name="price"></input><br>
phone <input type="text" name="phone_number"></input><br>
size <input type="text" name="size"></input><br>
comments <input type="text" name="comments"></input><br>
property_type <input type="text" name="property_type"></input><br>
amenities <input type="text" name="amenities"></input><br>


<input type="submit" name="submit"></input><br>
</br>
 </form>